<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="page-header">
          <h1>
            Great places to eat!
			{{#if session.isAuthenticated}}
            {{#link-to 'restaurants.new' class="btn btn-primary btn-lg header-button"}}Add a new restaurant{{/link-to}}
			{{/if}}
          </h1>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="list-group order-list">
        {{#each model as |restaurant|}}
          <a {{action 'selectRestaurant' restaurant}} href="/" class="list-group-item">
            <div class="row">
              <div class="col-lg-10">
                <h4 class="list-group-item-heading">{{restaurant.name}}</h4>
                <p class="list-group-item-text">{{restaurant.description}}</p>
                <p class="list-group-item-text">{{restaurant.address}}</p>
              </div>
              <div class="col-lg-2">
                <img src="{{restaurant.profile_picture}}" class="mini-item-picture" />
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <h2>{{selectedRestaurant.name}}</h2>
        <p class="lead">{{selectedRestaurant.description}}</p>
        {{google-map latitude=selectedRestaurant.lat longitude=selectedRestaurant.lng markers=markers}}
        <div class="text-center">
		{{#if session.isAuthenticated}}
          {{#link-to 'restaurants.restaurant.edit' selectedRestaurant class="btn btn-warning btn-lg"}}Edit Restaurant{{/link-to}}
		{{/if}}
          {{#link-to 'restaurants.restaurant' selectedRestaurant class="btn btn-info btn-lg"}}View Menu{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
