<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="page-header">
        <h1>Edit {{model.name}}</h1>
      </div>
      <div class="new-form">
        <form class="form-horizontal well">
          <fieldset>
            <div class="form-group">
              <label for="inputName" class="col-xs-2 control-label">Name</label>
              <div class="col-xs-10">
                {{input type="text" placeholder="Name" value=model.name class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-xs-2 control-label">Email</label>
              <div class="col-xs-10">
                {{input type="text" placeholder="Email" value=model.email class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress" class="col-xs-2 control-label">Address</label>
              <div class="col-xs-10">
                {{input type="text" placeholder="Address" value=model.address class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputLat" class="col-xs-2 control-label">Latitude</label>
              <div class="col-xs-10">
                {{input type="number" placeholder="Latitude of coordinate" value=model.lat class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputLng" class="col-xs-2 control-label">Longitude</label>
              <div class="col-xs-10">
                {{input type="number" placeholder="Longitude of coordinate" value=model.lng class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription" class="col-xs-2 control-label">Description</label>
              <div class="col-xs-10">
                {{input type="text" placeholder="Description" value=model.description class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhoneNumber" class="col-xs-2 control-label">Phone Number</label>
              <div class="col-xs-10">
                {{input type="text" placeholder="Phone Number" value=model.phone_number class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputWebsite" class="col-xs-2 control-label">Website</label>
              <div class="col-xs-10">
                {{input type="url" placeholder="Website" value=model.website class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputProfilePicture" class="col-xs-2 control-label">Profile Picture URL</label>
              <div class="col-xs-10">
                {{input type="url" placeholder="URL to image" value=model.profile_picture class="form-control"}}
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-sm-4 col-sm-offset-4">
                {{#link-to 'restaurants' class="btn btn-default" activeClass=""}}Cancel{{/link-to}}
                <button {{action 'editRestaurant'}} class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-danger text-center">
        <div class="panel-heading">
          <h3 class="panel-title">The danger zone {{fa-icon "warning"}}</h3>
        </div>
        <div class="panel-body">
          Completely and <strong>irreversably</strong> remove restaurant from the data store.
          <button {{action 'deleteRestaurant'}} class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>