<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">
        <h1>{{model.name}}</h1>
        <p>{{model.description}}</p>
        <p>
          {{#link-to 'restaurants.restaurant.edit' model class="btn btn-primary btn-lg"}}Edit restaurant details{{/link-to}}
          {{#link-to 'restaurants.restaurant.items.new' class="btn btn-primary btn-lg"}}Add a new menu item{{/link-to}}
          {{#link-to 'restaurants.restaurant.orders' class="btn btn-primary btn-lg"}}View orders{{/link-to}}
          {{#link-to 'restaurants.restaurant.tables' class="btn btn-primary btn-lg"}}View tables{{/link-to}}
          {{#link-to 'restaurants.restaurant.data' class="btn btn-primary btn-lg"}}View Data{{/link-to}}
        </p>
      </div>
      <div class="col-sm-4 hidden-xs">
        <img src="{{model.profile_picture}}" class="cover-pic" />
      </div>
    </div>
  </div>

  <div class="page-header">
    <h2>
      {{model.name}} Menu
      {{#if currentOrder}}
        {{#link-to 'restaurants.restaurant.orders.new' class="btn btn-success btn-lg header-button"}}Place Order{{/link-to}}
      {{else}}
        {{#link-to 'restaurants.restaurant.orders.new' class="btn btn-success btn-lg header-button disabled"}}Place Order{{/link-to}}
      {{/if}}
    </h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="list-group order-list">
        {{#each model.items as |item|}}
          <a {{action 'selectItem' item}} href="/" class="list-group-item">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.description}}</p>
            <strong class="list-group-item-text">R{{item.price}}</strong>
          </a>
        {{/each}}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well">
        <h2>
          {{selectedItem.name}}
          <span class="item-price">R{{selectedItem.price}}</span>
        </h2>
        <p class="lead">{{selectedItem.description}}</p>
        <img src="{{selectedItem.item_picture}}" class="item-picture" />
        <div class="text-center">
          {{#link-to 'restaurants.restaurant.items.item.edit' selectedItem class="btn btn-warning btn-lg"}}Edit item{{/link-to}}
          <button {{action 'addItem' selectedItem}} class="btn btn-info btn-lg">Add to order</button>
        </div>
      </div>
    </div>
  </div>
</div>
