<h1>{{model.name}}</h1>
<span>
  {{#link-to 'restaurants.restaurant.items.new' class="btn btn-primary btn-lg " activeClass=""}}Add a new menu item{{/link-to}}
</span>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Restaurant</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.items as |item index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.restaurant.name}}</td>
        <td>{{#link-to 'restaurants.restaurant.items.item.edit' item class="btn btn-primary btn-lg " activeClass=""}}Edit item{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<span>
  {{#link-to 'restaurants.restaurant.tables.new' class="btn btn-primary btn-lg " activeClass=""}}Add a new table{{/link-to}}
</span>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Details</th>
      <th>Orders</th>
      <th>Restaurant</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.tables as |table index|}}
      <tr>
        <td>{{table.number}}</td>
        <td>{{table.details}}</td>
        <td>0</td>
        <td>{{table.restaurant.name}}</td>
        <td>{{#link-to 'restaurants.restaurant.tables.table.edit' table class="btn btn-primary btn-lg " activeClass=""}}Edit table{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<span>
  {{#link-to 'restaurants.restaurant.data' class="btn btn-primary btn-lg " activeClass=""}}View Data{{/link-to}}
</span>