<span>
  {{#link-to 'restaurants.restaurant.orders.new' class="btn btn-primary btn-lg " activeClass=""}}Place order{{/link-to}}
</span>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Note</th>
      <th>Delivered</th>
      <th>Paid</th>
      <th>Total Price</th>
      <th>Restaurant</th>
      <th>Table Number</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.orders as |order index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{order.date}}</td>
        <td>{{order.note}}</td>
        <td>{{order.delivered}}</td>
        <td>{{order.paid}}</td>
        <td>{{order.total}}</td>
        <td>{{order.restaurant.name}}</td>
        <td>{{order.table.number}}</td>
        <td>{{order.user.name}}</td>
        <td>{{#link-to 'restaurants.restaurant.orders.order.edit' order class="btn btn-primary btn-lg " activeClass=""}}Edit order{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>