<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="page-header">
        <h1>Place Order at {{model.name}}</h1>
      </div>
      <div class="list-group order-list">
        {{#each currentOrder.orderItems as |orderItem|}}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{{orderItem.item.name}}</h4>
            <p class="list-group-item-text">{{orderItem.item.description}}</p>
          </div>
        {{/each}}
      </div>
      <div class="new-form">
        {{input type="text" placeholder="Order note" value=currentOrder.note class="form-control"}}
        <div class="col-sm-4 col-sm-offset-4 confirm-order">
          {{#link-to 'restaurants.restaurant' model class="btn btn-default"}}Cancel{{/link-to}}
          <button {{action 'confirmOrder'}} class="btn btn-primary">Confirm Order</button>
        </div>
      </div>
    </div>
  </div>
</div>